.event-mobile-1 {
  background-image: url("../imgs/padel-ev-1.webp");
}
.event-mobile-2 {
  background-image: url("../imgs/padel-ev-2.jpg");
}
.event-mobile-3 {
  background-image: url("../imgs/padel-ev-3.webp");
}
.event-mobile-4 {
  background-image: url("../imgs/padel-ev-4.jpg");
}
