.event-mobile-1 {
  background-image: url("../imgs/tennis-events.jpg");
}
.event-mobile-2 {
  background-image: url("../imgs/tenis-ev-2.jpg");
}
.event-mobile-3 {
  background-image: url("../imgs/tenis-ev-3.jpg");
}
.event-mobile-4 {
  background-image: url("../imgs/tenis-ev-4.jpg");
}
