<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'votaciones/resultados.css' %}">
    <title>Resultados</title>
</head>
<body>
    <h1>{{ pregunta.texto_pregunta }}</h1>
<ul>
    {% for respuesta in pregunta.respuesta_set.all %}
    <li>{{ respuesta.texto_respuesta }} -- {{ respuesta.votos }} voto{{ respuesta.votos|pluralize }}</li>
    {% endfor %}
</ul>
<a href="{% url 'votaciones:detail' pregunta.id %}">Votar de nuevo</a>
<a href="{% url 'votaciones:index' %}">
    <i></i> Volver a Preguntas
    </a>
</body>
</html>
