@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="centrar imagen-fondo flex-f">
    <div class="box">
        <h1 class="c-blanco">SLAM</h1>
        <p class="c-blanco">
            Organiza Y Administra Torneos.<br>
            Descubre eventos cercanos a ti.<br>
            Compite para ganar toreos.<br>
            Gana recompensas y lucha por puntos.
        </p>

    </div>
</div>

<div class="alert alert-dismissible alert-light">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong></strong>¡Atención jugador! <a href="/Departments" class="alert-link">Has ingresado a la plataforma de gestión de torneos.</a>, ¡Prepárate para sumergirte en la emoción de la competición! 🏆🎮.
</div>

