@page
@model PrivacyModel
@{
    ViewData["Title"] = "Aviso de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Aviso de Privacidad para la Recopilación de Datos en Torneos de Deportes - Slam<p></strong>

<p>Este aviso de privacidad describe cómo Slam recopila, utiliza y protege la información personal proporcionada por los
    usuarios durante el registro y la participación en nuestros torneos de deportes. Estamos comprometidos con la
    protección de tu privacidad y la seguridad de tus datos personales.</p>

<p>Información que Recopilamos:</p>

<li>Datos de Registro: Al registrarte en Slam para participar en los torneos de deportes, recopilamos información como
    tu nombre completo, dirección de correo electrónico, nombre de usuario y contraseña para crear y gestionar tu
    cuenta.</li>

<li>Información de Perfil: Podrías proporcionar información adicional en tu perfil, como tu país, fecha de nacimiento,
    foto de perfil u otra información relevante para mejorar tu experiencia en Slam.</li>

<li>Datos de Participación: Durante la participación en los torneos, podríamos recopilar información sobre los juegos
    jugados, resultados, estadísticas de juego y cualquier otra información relacionada con tu participación en los
    torneos de Slam.<br></li>

<p><strong>Uso de la Información:<p></strong>

<p>La información recopilada se utiliza para:</p>

<li>Gestionar y mantener tu cuenta en Slam.</li>
<li>Facilitar tu participación en los torneos de deportes.</li>
<li>Mejorar nuestros servicios, incluyendo personalizar tu experiencia en la plataforma.</li>
<li>Enviar notificaciones sobre torneos, actualizaciones de la plataforma u otras comunicaciones relevantes.</li>

<p><strong>Protección de Datos:<p></strong>

    <li>Slam se compromete a proteger tus datos personales y utiliza medidas de seguridad para evitar el acceso no
        autorizado, divulgación, alteración o destrucción de la información que recopilamos.</li>

<p><strong>Compartir Información:<p></strong>

    <li>No compartimos tu información personal con terceros sin tu consentimiento, a menos que sea necesario para
        cumplir con requisitos legales o proteger nuestros derechos.</li>

<p><strong>Derechos del Usuario:<p></strong>

    <li>Tienes derecho a acceder, corregir, actualizar o eliminar tu información personal proporcionada a Slam. Para
        ejercer estos derechos o si tienes preguntas sobre este aviso de privacidad, contáctanos a través de chat.</li>

<p><strong>Al utilizar Slam y proporcionar tus datos personales, aceptas el procesamiento de tu información de acuerdo
        con este aviso de privacidad.<p><strong>

                <li>Última Actualización: hoy</li>

                <p><strong>Este aviso de privacidad está sujeto a cambios y actualizaciones. Te recomendamos revisar
                        periódicamente este aviso para estar al tanto de cualquier modificación.<p></strong>
