@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

@font-face {
    font-family: Game Of Thrones;
    src: url(Font/GameOfThrones/Game\ of\ Thrones.ttf);
}

/* ETIQUETAS QUE APLICAR A TODA LA PAGINA */
html{
    background-color: black;
}

/* ETIQUETAS QUE APLICAN A TODOS LOS OBJETOS DE LA PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ETIQUETA QUE APLICA A TODO EL CUERPO,  */
body{
    min-height: 100vh;
}

/* ETIQUETAS QUE APLICAN AL TITULO DEL LOGO */
.logo{
    font-family: Game Of Thrones;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
}

/* ETIQUETA QUE APLICA A LA IMAGEN, DA UN POCO DE ESPECIO ENTRE EL TITULO Y LA IMAGEN */
.logo img{
    padding-right: 15px;
}

/* ETIQUETAS PARA EL MENU */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}

/* ETIQUETAS PARA LOS HYPERVINCULOS DEL MENU QUE NO SEAN GAME OF THRONES */
.navbar a{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
    margin: 20px;
    position: relative;
}

/* ETIQUETAS QUE APLICAN SOLO AL HYPERVINCULO GAME OF THRONES */
#GoT{
    font-family: Game Of Thrones;
    font-weight: 50;
    color: white;
    text-decoration: none;
    margin: 20px;
    position: relative;
}

iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 300px;
    margin: auto;
}

video{
    width: 100%;
    height: 100%;
}

h2{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    padding: 50px;
}

.audio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    padding: 15px;
}