@page
@model ContosoUniversity.Pages.AboutModel

@{
    ViewData["Title"] = "Ranking";
}

<h2>Ranking</h2>

<table>
    <tr>
        <th>
            Fecha de torneo - -   
        </th>
        <th>
            Usuarios
        </th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>